input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input, button, textarea {
  border: none;
}

input::placeholder, textarea::placeholder {
  color: #bbb;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
}

button:active {
  opacity: 0.5;
}

.tab-button {
  font-size: 15px;
  padding: 4px 28px;
  color: white;
  border: 1px solid;
  border-color: white;
  color: white;
  background-color: rgb(27,42,73);
}

.tab-button.selected {
  color: rgb(27,42,73);
  background-color: white;
}

.form {
  margin: 0 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.headline {
  font-size: 20px;
  text-align: start;
  margin-top: 10px;
  color: rgb(27,42,73);
}

.image-slot {
  margin: auto;
  display: flex;
  align-items: center;
}

.image-button {
  height: 60px;
  width: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.image-button.selected {
  height: 75px;
  width: 75px;
}

.input-label {
  color: rgb(27,42,73);
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.input {
  font-size: 17px;
  background-color: rgb(240,240,240);
  padding: 10px 20px;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

.submit {
  font-size: 17px;
  color: white;
  padding: 10px 40px;
  background-color: rgb(27,42,73);
  border-radius: 6px;
  border: none;
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
}