.ticket-content {
  margin: 48px 40px 40px;
}

.logo {
  height: 75px;
  width: 75px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.col {
  display: flex;
  flex-direction: column;
}

.info-left-col {
  align-items: flex-start;
}

.elevated {
  font-size: 22px;
  font-weight: 500;
  color: black;
}

.eyebrow-elevated {
  letter-spacing: -1px;
  font-size: 26px;
  font-weight: 700;
  color: black;
}

.info-right-col .eyebrow-elevated {
  font-weight: 800;
  transform: scaleY(1.1);
}

.reduced {
  font-size: 14px;
  color: gray;
}

.detail-info {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
}

.paragraph {
  font-size: 17px;
  line-height: 1.2em;
  color: black;
  margin-top: 8px;
}

.route {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 17px;
}

.address {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.address:first-of-type {
  margin-bottom: 25px;
}

.address:nth-of-type(2) {
  color: black;
}

.marker {
  display: inline-block;
  height: 11px;
  width: 11px;
  margin-right: 10px;
  background-color: black;
}

.circle {
  border-radius: 5.5px;
}

.separator {
  position: absolute;
  top: 19px;
  left: 5px;
  height: 28px;
  border-left: 1px solid;
}

.email,.update,.archive, .unarchive {
  font-size: 17px;
  color: white;
  width: 100%;
  padding: 15px 0px;
  background-color: rgb(27,42,73);
  border-radius: 6px;
  border: none;
  margin-top: 20px;
}

.email, .unarchive{
  width:100%;
}
.update,.archive {
  width:40%;
}

.authorBtns {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
