.home {
  background: url(background.png) no-repeat; 
  background-size: cover;
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  min-width: 100%;
  min-height: 100%;
}

.title1 {
  color: 'white' !important;
}
