.formContainer {
  /*position: relative;*/
  color: #212529;
  padding: 1rem;
  margin-right: 0;
  margin-left: 0;
  margin-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  /*border: .2rem solid #ececec;
  border-radius: 8px;*/
}

.titleClass {
  margin-bottom: 20px;
}
.form-group {
  display: block;
  overflow: auto;
}

#formBasicEmail {
  display: inline-block !important;
}

.form-control {
  width: 100%;
  float: left;
  height: calc(2.25rem + 2px);
  padding-left: 15px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.email {
  width: 65% !important;
}

Form.label {
  float: right;
}

.errorMsg {
  color: red;
  margin-bottom:15px;
}

.btnClass {
  margin-bottom: 15px;
}