.welcome-container {
  margin-left:30px;
  margin-right: 30px;
}
.welcome-title {
  font-size: 35px;
  color:#1e2c49;
  margin-top:30px;
}

#logo_img {
  height: 180px;
  width: 180px;
}

.title2 {
  font-size: 17px;
  color:#1e2c49;
}

.safe-group, .history-group, .money-group {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 15px;
  color:#1e2c49;
  margin-top:20px;
}
#safe_text, #history_text, #money_text {
  display: flex;
  justify-content: flex-start;
}
#safe_img, #history_img, #money_img{
  height: 30px;
  width: 30px;
}